%parameters: packageName, typeName, valueType, countFields, fieldNames

package {{packageName}};

public class FlatCursor{{typeName}} {
    final ArrayListOf{{typeName}} _list;
    int _size;
    int _offset;
    final static int ItemCount = {{countFields}};

    FlatCursor{{typeName}}(ArrayListOf{{typeName}} list, int size){
        _list = list;
        _offset = -ItemCount;
        _size = size*ItemCount;
    }

    public void add(){
        _list.add();
        move();
    }

    public void indexSet(int pos){
      _offset = ItemCount*pos;
    }

    public boolean move(){
        _offset = _offset + ItemCount;
        return _offset < _size;
    }

%each: codesections/fieldGetterSetter; items: fieldNames; args: valueType

}